.textToSpeech
{
    all: unset;
    width: 3vw;
    height: 1.5vw;
    border:45px;
    border-radius:45px;
    display: flex;
    text-align: center;
}
.stopButton
{
    background-color: aquamarine;
    color:rgb(23, 35, 35);
    border:45px;
    border-radius:45px;
    font-weight: bold;
}